<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Artwork Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/app.js"></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1 id="art-name" class="hidden"></h1>
            <p id="art-desc" class="hidden"></p>
            <button id="discover-another" class="hidden">Discover another artwork</button>
            <button id="discover-art">Discover artwork</button>
        </div>
        <div class="right">
            <img id="painting-img" class="hidden" src="">
        </div>
    </div>

    <div id="loader" class="hidden">
        <img src="/static/images/loader.gif" alt="Loading...">
    </div>

    <div id="credits">
        Developed with ❤️ by Dylan. Using Harvard and OpenAI API. Hosted and deployed on Vercel.
