<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Artwork Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1 id="art-title">{{ painting.title }}</h1>
            <p id="art-artist">{{ painting.artist }}</p>
            <p id="art-date">{{ painting.date }}</p>
            <p id="art-info">{{ painting.info }}</p>
            <button id="discover-another">Discover another artwork</button>
        </div>
        <div class="right">
            <img id="painting-img" src="{{ painting.image_url }}" alt="{{ painting.title }}">
        </div>
    </div>
</body>
</html>
